.container{
    display:flex;
    width:100%;
    background-color:greenyellow;
    padding :10px;
    height:50vh;
}
.right{
    width:50%;
    background-color: hotpink;
    height:100%;
}
.left{
    width:50%;
    background-color: blueviolet;
    height:100%;
}

div.slc
{
    display: flex;
    justify-content: center;
}

select
{
    margin-top: 60px;
    font-size: 20px;
}